body {
  background: #ddd;

}
h1 {
  text-align: center;
  display: block;
}
.container{
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-wraper {
  position: absolute;
  position: absolute;
  top: 50%; // for demo purposes only change this to suit your needs
  left: 50%; // for demo purposes only change this to suit your needs
  transform: translate(-50%); // for demo purposes only change this to suit your needs
  list-style-type: none;
  margin: 0;
  padding: 0;
  animation-name: spin;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  .menu-item {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;

    // &:nth-child(2) {
    //   background: red;
    //   transform: rotate(-180deg) translate(20em) rotate(180deg) !important
    // }


  }
}

.clearfix {
  overflow: hidden;
  clear: both;
}

.demo-area {
  position: relative;
  min-height: 1000px;
  margin: auto;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
