body {
  background: #ddd;

}
h1 {
  text-align: center;
  display: block;
}
.container{
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-wraper {
  position: absolute;
  position: absolute;
  top: 20%; // for demo purposes only change this to suit your needs
  left: 30%; // for demo purposes only change this to suit your needs
  transform: translate(-50%); // for demo purposes only change this to suit your needs
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30em;
  height: 30em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: pink;
  animation-name: spin;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  .menu-item {
    position: absolute;
    // -webkit-transition: all 2s linear;
    // -moz-transition: all 2s linear;
    // transition: all 2s linear;
    background: blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    // &:nth-child(2) {
    //   background: red;
    //   transform: rotate(-180deg) translate(20em) rotate(180deg) !important
    // }


  }
}
.floating-btn{
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clearfix {
  overflow: hidden;
  clear: both;
}

.demo-area {
  position: relative;
  min-height: 1000px;
  margin: auto;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
